.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./assets/plataforma-petrolera.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}